body
{
background-color:white;
font-size:70%;
position:absolute;
margin-left:60;
margin-top:3;
margin-bottom:5;
}
input
{
font-family: times new roman;
font-size:15px;
}
textarea
{
font-family: times new roman;
font-size:18px;
}
.cs a:hover
{
	color:green;
}
.cs a:visited
{
	color:black;
}
.cs a:active
{
	color:blue;
}
.cs a:link
{
	color:green;
}
#tables
{
margin-right:10;
margin-left:10;
}
.links a:hover
{
	color:green;
}
.links a:visited
{
	color:black;
}
.links a:active
{
	color:blue;
}
.links a:link
{
	color:black;
}

.tabl{
width:500;

font-size:12px;
background-image:url('flowerbottom.png');
text-align:justify;
style-border:thick;
border:1px solid #700000;
text-decoration:none;
}
.just
{
text-align:justify;
}

#dropdown ul, #dropdown li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;

	}

#dropdown li.last a{margin-right:0;}
.menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 17.4px;
  color: #ffffff;
  text-decoration: bold;
  display: block;
  padding: 5px 20px 5px 20px;
  margin: 0;
  text-shadow: 1px 1px 1px #000000;
 text-decoration:none;
}
.menu-bar a:hover {
  background:#059BD8 !important;
  color:#059BD8 !important;
  border-radius: 35px;
  text-decoration:none;
  }
.attach a:hover
{
	color:green;
}
.attach a:visited
{
	color:black;
}
.attach a:active
{
	color:blue;
}
.attach a:link
{
	color:black;
}
.forget a:hover
{
	color:green;
}
.forget a:visited
{
	color:black;
}
.forget a:active
{
	color:blue;
}
.forget a:link
{
	color:black;
}
#drop
{
border-radius:35px;
}